---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Jerryzz写东西的地方
      </span>
    </h1>
  </div>
  <div>
    <p class="mb-5">
      Hello! 我是一名互联网后端研发工程师，这里是我写字的地方，我会在这个地方分享一些关于工作上的事情，我的兴趣主要集中在Linux系统、eBPF、分布式系统软件。
    </p>
  </div>
</section>
